NGROK_AUTHTOKEN=your_ngrok_authtoken_here
POSTGRES_DB_PASSWORD=your_keycloak_db_password_here
KEYCLOAK_ADMIN_PASSWORD=your_keycloak_admin_password_here
KC_DB_PASSWORD=your_keycloak_db_password_here
SPRING_DATASOURCE_PASSWORD=your_app_db_password_here
NEXTCLOUD_PASSWORD=your_nextcloud_password_here